@font-face {
  font-family: "RostelecomBasis-Regular";
  src: url("./RostelecomBasis-Regular.woff2");
  src: url("./RostelecomBasis-Regular.woff");
  src: url("./RostelecomBasis-Regular.ttf");
  src: url("./RostelecomBasis-Regular.eot");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RostelecomBasis-Medium";
  src: url("./RostelecomBasis-Medium.woff2");
  src: url("./RostelecomBasis-Medium.woff");
  src: url("./RostelecomBasis-Medium.ttf");
  src: url("./RostelecomBasis-Medium.eot");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RostelecomBasis-Light";
  src: url("./RostelecomBasis-Light.woff2");
  src: url("./RostelecomBasis-Light.woff");
  src: url("./RostelecomBasis-Light.ttf");
  src: url("./RostelecomBasis-Light.eot");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RostelecomBasis-Bold";
  src: url("./RostelecomBasis-Bold.woff2");
  src: url("./RostelecomBasis-Bold.woff");
  src: url("./RostelecomBasis-Bold.ttf");
  src: url("./RostelecomBasis-Bold.eot");
  font-style: normal;
  font-weight: normal;
}

